/* Contenedor del formulario de reservas */
.reserve-container {
  padding: 20px;
  background-color: #132d46; /* Fondo azul más oscuro */
  border: 1px solid #01c38e; /* Borde verde brillante */
  border-radius: 8px;
  max-width: 800px; /* Ancho máximo para el contenedor */
  margin: 0 auto; /* Centrar el contenedor */
}

/* Títulos */
.reserve-container h2 {
  color: #ffffff; /* Texto blanco */
  margin-bottom: 20px; /* Espacio debajo del título */
}

/* Formulario */
.reserve-container form {
  display: flex;
  flex-direction: column;
}

/* Asegúrate de que el texto sea visible en el select */
.form-control {
  color: black; /* Asegura que el texto sea visible */
}

/* Elementos del formulario */
.reserve-container .form-group {
  display: flex;
  flex-direction: column; /* Alinear etiquetas y campos verticalmente */
  margin-bottom: 15px; /* Espacio entre los elementos del formulario */
}

.reserve-container label {
  font-weight: bold;
  color: #ffffff; /* Texto blanco */
  margin-bottom: 5px; /* Espaciado inferior */
}

.reserve-container .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff; /* Fondo blanco para los campos de entrada */
  color: #000000; /* Texto negro */
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Botones */
.reserve-container .btn-primary {
  background-color: #01c38e; /* Verde brillante */
  color: #ffffff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Espacio arriba del botón */
}

.reserve-container .btn-primary:hover {
  background-color: #019a6e; /* Verde más oscuro en hover */
}

.reserve-container button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
  color: #01c38e; /* Color del botón de pagar */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px; /* Espacio arriba del botón */
}

.reserve-container button:hover {
  background-color: #e0f2f1; /* Fondo claro en hover */
}
