<!-- Registro -->
<h2>Registrar Usuario</h2>
<form (ngSubmit)="register()">
  <input type="text" [(ngModel)]="user.username" name="username" placeholder="Nombre de usuario">
  <input type="email" [(ngModel)]="user.email" name="email" placeholder="Correo electrónico">
  <input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
  <input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña">
  <button type="submit">Registrar</button>
</form>

<!-- Inicio de sesión -->
<h2>Iniciar sesión</h2>
<form (ngSubmit)="login()">
  <input type="text" [(ngModel)]="credentials.username" name="username" placeholder="Nombre de usuario">
  <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Contraseña">
  <button type="submit">Iniciar sesión</button>
</form>

<!-- Cierre de sesión -->
<div class="container">
    <button class="logout" (click)="logout()">Cerrar sesión</button>
  </div>