<!-- Registro -->
<h2>Registrar Usuario</h2>
<form (ngSubmit)="register()">
  <input type="text" [(ngModel)]="user.username" name="username" placeholder="Nombre de usuario">
  <input type="email" [(ngModel)]="user.email" name="email" placeholder="Correo electrónico">
  <input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
  <input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña">
  <button type="submit">Registrar</button>
</form>

<!-- Inicio de sesión -->
<h2>Iniciar sesión</h2>
<form (ngSubmit)="login()">
  <input type="text" [(ngModel)]="credentials.username" name="username" placeholder="Nombre de usuario">
  <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Contraseña">
  <button type="submit">Iniciar sesión</button>
</form>

<!-- Cierre de sesión -->
<div class="container">
    <button class="logout" (click)="logout()">Cerrar sesión</button>
</div>

<!-- Edición de usuario -->
<div class="user-edit">
    <h2>Editar Usuario</h2>
    <form (ngSubmit)="edit()">
      <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="editedUser.username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="editedUser.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="editedUser.name" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Apellido:</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="editedUser.lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="imagen">Imagen:</label>
        <input type="text" class="form-control" id="imagen" [(ngModel)]="editedUser.imagen" name="phoneNumber" required>
      </div>
      <div class="form-group">
        <label for="balance">Saldo:</label>
        <input type="number" class="form-control" id="balance" [(ngModel)]="editedUser.balance" name="address" required>
      </div>
      <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="text" class="form-control" id="dni" [(ngModel)]="editedUser.dni" name="city" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Número:</label>
        <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="editedUser.phoneNumber" name="state" required>
      </div>
      <div class="form-group">
        <label for="age">Edad:</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="editedUser.age" name="zipCode" required>
      </div>
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
  </div>