<div class="home-container">
  <!-- Sección de bienvenida -->
  <div class="welcome-section">
      <h2>Bienvenido a CyberRoom</h2>
      <p>¡Estamos encantados de tenerte aquí! Explora nuestras opciones de reserva y diviértete.</p>
  </div>

  <!-- Sección de información -->
  <div class="info-section">
      <div class="info-card">
          <h3>Reservas</h3>
          <p>Realiza y gestiona tus reservas de manera rápida y sencilla.</p>
          <button class="action-button" routerLink="/reserve">Hacer Reserva</button>
      </div>
      <div class="info-card">
          <h3>Promociones</h3>
          <p>Descubre nuestras ofertas y promociones especiales.</p>
          <button class="action-button" routerLink="/promotions">Ver Promociones</button>
      </div>
      <div class="info-card">
          <h3>Eventos</h3>
          <p>Infórmate sobre los eventos próximos en CyberRoom.</p>
          <button class="action-button" routerLink="/events">Ver Eventos</button>
      </div>
  </div>

  <!-- Sección de imágenes -->
  <div class="section-image">
      <h2>Juega tus juegos Favoritos</h2>
      <div class="image-item">
          <img src="assets/images/img_COD.jpeg" width='300' alt="Call of Duty"/>
      </div>
      <div class="image-item">
          <img src="assets/images/img_Dota2.jpeg" width='300' alt="Dota 2"/>
      </div>
      <div class="image-item">
          <img src="assets/images/img_Fortnite.jpeg" width='300' alt="Fortnite"/>
      </div>
      <div class="image-item">
          <img src="assets/images/img_LOL.jpeg" width='300' alt="League of Legends"/>
      </div>
      <div class="image-item">
          <img src="assets/images/img_Minecraft.jpeg" width='300' alt="Minecraft"/>
      </div>
      <div class="image-item">
          <img src="assets/images/img_Starcraft2.jpeg" width='300' height='170' alt="Starcraft 2"/>
      </div>
      <div class="image-item">
          <img src="assets/images/img_Valorant.jpeg" width='300' alt="Valorant"/>
      </div>
  </div>
</div>
