<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <!-- Logo y nombre de la marca -->
      <div class="navbar-brand d-flex align-items-center">
        <!-- <img src="assets/images/Logo_grande_fin_fondo.png" alt="CyberRoom Logo"> -->
        <img src="assets/images/Logo_final_final.png" alt="CyberRoom Logo">
      </div>

      <!-- Menú de navegación principal -->
      <div class="navbar-nav-container">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reserve">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/promotions">Promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/events">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar sesión</a>
          </li>
        </ul>
      </div>
        
    </nav>
  </div>
</header>

