<div class="container">
    <h2>{{ editMode ? 'Actualizar' : 'Agregar' }} Usuario</h2>
  
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
      <!-- Formulario para agregar o editar un usuario -->
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" formControlName="username" type="text" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" />
      </div>
      <div class="form-group">
        <label for="user_type">User Type:</label>
        <select id="user_type" formControlName="user_type">
          <option value="admin">Administrator</option>
          <option value="employee">Employee</option>
          <option value="client">Client</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" formControlName="name" type="text" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" formControlName="lastName" type="text" />
      </div>
      <div class="form-group">
        <label for="balance">Balance:</label>
        <input id="balance" formControlName="balance" type="text" />
      </div>
      <div class="form-group">
        <label for="dni">DNI:</label>
        <input id="dni" formControlName="dni" type="text" />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input id="phoneNumber" formControlName="phoneNumber" type="text" />
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input id="age" formControlName="age" type="number" />
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input id="gender" formControlName="gender" type="text" />
      </div>
      <div class="form-buttons">
        <button type="button" class="btn-secondary" (click)="resetForm()">Cancelar</button>
        <button type="submit" class="btn-primary">{{ editMode ? 'Actualizar' : 'Agregar' }} Usuario</button>
      </div>
    </form>
  
    <h2>Lista de Usuarios</h2>
    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>User Type</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Balance</th>
          <th>DNI</th>
          <th>Phone Number</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.user_type }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.balance }}</td>
          <td>{{ user.dni }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.gender }}</td>
          <td>
            <button (click)="onDelete(user.id)" class="btn-icon"><i class="fas fa-trash"></i></button>
            <button (click)="onEdit(user)" class="btn-icon"><i class="fas fa-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>